.mainBox {
  display: flex;
  flex-direction: row;
  padding: 0;
  column-gap: 50px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.AccordionHeader > button {
  display: flex;
  justify-content: space-between;
  color: #384f8d;
  font-weight: bold;
  padding: 0.5em;
  background: rgba(123, 171, 231, 0.23)
}

.titleAll {
  display: flex;
  justify-content: end;
  padding: 10px 20px;
}

.title {
  justify-content: end;
}

.accordionBody {
  background: rgba(123, 171, 231, 0.23);
  padding: 0;
}

.cardBody {
  align-self: end;
}
