.products {
  display: flex;
  flex-wrap: wrap;
}

.linkedin {
  background-color: rgba(123, 171, 231, 0.23) !important;
  border-color: lightgray !important;
  color: black !important;
}

.titles {
  padding: 0 1em;
  color: rgba(15,71,128,0.6);
  font-weight: bold;
  min-height: 60px;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.catalog {
  background-color: #e3e5ec;
  width: 100%;
}

.types {
  padding: 0;
  background-color: #e3e5ec;
}

.shopWrap {
  display: flex;
  gap: 25px;
}

.shopWrap:nth-child(1) {
  flex: 1 0 100px;
}

.shopWrap:nth-child(2) {
  flex: 7 0 100px;
}

.listItem {
  align-self: center;
  text-align: center;
  white-space: nowrap;
  border: 1px solid darkgrey;
}

.error404 {
  margin: 50px;
  font-weight: bold;
  color: darkgoldenrod;
}