.userData {
    display: flex;
    justify-content: space-between;
}

.userDataFields > div {
    display: flex;
    height: 40px;
}

.personalDataChangeFormFields {
    width: 200px;
    height: 30px;
}

.personalDataChangeFormFields > input {
    padding: 0 10px;
}

.userDataFields > div > span {
    color: #5d5d5d;
    font-weight: bold;
    margin-right: 20px;
    min-width: 100px;
}

.userData > :nth-child(2) {
    color: #5d5d5d;
    display: flex;
    flex-direction: column;
}

.userData :nth-child(2) :nth-child(2) {
    text-align: end;
}

.personalDataChange {
    margin-top: 20px;
}