.userData {
  display: flex;
  justify-content: space-between;
}

.userDataFields > div {
  display: flex;
  height: 50px;
  align-items: center;
}

.personalDataChangeFormFields {
  width: 200px;
  align-items: center;
}

.personalDataChangeFormFields > input {
  padding: 0 10px;
  border-color: #9aa4d2;
  height: 30px;
  box-shadow: rgb(160, 177, 218) 0 2px 8px 0;
}

.userDataFields > div > span {
  color: rgba(5, 71, 129, 0.6);
  font-weight: bold;
  margin-right: 20px;
  min-width: 100px;
}

.userData > :nth-child(2) {
  color: #5d5d5d;
  display: flex;
  flex-direction: column;
}

.dataBox {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding: 0.5rem;
}

.dataBox > div > p {
  color: rgba(5, 71, 129, 0.6);
  font-weight: bold;
}

.personalDataChange {
  margin-top: 20px;
}
