.userData {
    display: flex;
    justify-content: space-between;
}

.userDataFields > div > span {
    color: #5d5d5d;
    font-weight: bold;
    margin-right: 20px;
}

.userData :nth-child(2) {
    color: #5d5d5d;
    display: flex;
    flex-direction: column;
}

.userData :nth-child(2) :nth-child(2) {
    text-align: end;
}