.header {
  background: rgba(123, 171, 231, 0.23);
}
.exchangeRate {
  display: flex;
  justify-content: end;
  column-gap: 30px;
}

.exchangeRate > p {
  display: block;
  color: #395dc4;
  margin: 0;
  padding: 0;
}

.navLink a.logo {
  margin-right: 80px;
  color: #384f8d;
  font-size: 1.3em;
}

.navLink {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.navLink a {
  color: black;
  text-decoration: none;
}

.navLink a:hover {
  color: lightslategray;
}

.navLink a[class='active'] {
  color: lightslategray;
}
